# Build artifacts
/build/
[Cc]MakeCache.txt
CMakeFiles/
**/Debug/
**/Release/
*.obj
*.pdb
*.ilk
*.tlog/
*.log
*.user
*.opendb
*.VC.db

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/c_cpp_properties.json
!.vscode/launch.json

# OS junk
Thumbs.db
.DS_Store

# ImGui settings (user-specific)
imgui.ini

# Generated modules/interface units
**/*.ifc

# Binary outputs
*.exe
*.lib
*.dll
*.exp

# Allow this project's bundled clang-format binary
!clang-format-custom.exe

# Test temp
Testing/Temporary/
